
/* HEADER */

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 4;
    display: none;
}

#header {
    display: flex;
    height: 70px;
    width: 100%;
    background-color: var(--primary-color);
    align-items: center;
    font-size: 1.5rem;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 3;
}

.header__logo {
    margin: 0 30px;
}

.header__logo a {
    color: var(--white-color);

}

.header__languages, .header__support {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__languages img {
    width: 30px;
}

.header__support i {
    font-size: 2rem;
}

.logo--link {
    color: var(--white-color);
    font-size: 2rem;
    text-decoration: none;
    font-weight: 600;
}
.header__container {
    display: flex;
    align-items: center;
}

.header__optional {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__current {
    position: relative;
    color: var(--white-color);
}

.header__current::after {
    content: "Chọn đơn vị tiền tệ";
    position: absolute; /* Đặt vị trí tuyệt đối cho phần tử giả */
    width: 150px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    border-radius: 3px;
    background-color: var(--black-color);
    bottom: -30px; /* Điều chỉnh vị trí bên dưới thẻ <a> */
    left: -20px; /* Đặt vị trí bắt đầu từ bên trái */
    opacity: 0; /* Ẩn phần tử giả ban đầu */
    transition: opacity 0.4s ease;

}

.header__current:hover::after {
    opacity: 1;
}

.header__languages {
    position: relative;
}

.header__languages::after {
    content: "Chọn ngôn ngữ";
    position: absolute; /* Đặt vị trí tuyệt đối cho phần tử giả */
    width: 120px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    border-radius: 3px;
    background-color: var(--black-color);
    bottom: -30px; /* Điều chỉnh vị trí bên dưới thẻ <a> */
    left: -20px; /* Đặt vị trí bắt đầu từ bên trái */
    opacity: 0; /* Ẩn phần tử giả ban đầu */
    transition: opacity 0.4s ease;

}

.header__languages:hover::after {
    opacity: 1;
}

.header__support {
    position: relative;
}

.header__support::after {
    content: "Liên hệ chúng tôi";
    position: absolute; /* Đặt vị trí tuyệt đối cho phần tử giả */
    width: 150px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    border-radius: 3px;
    background-color: var(--black-color);
    bottom: -30px; /* Điều chỉnh vị trí bên dưới thẻ <a> */
    left: -20px; /* Đặt vị trí bắt đầu từ bên trái */
    opacity: 0; /* Ẩn phần tử giả ban đầu */
    transition: opacity 0.4s ease;

}

.header__support:hover::after {
    opacity: 1;
}


.header__optional a {
    text-decoration: none;
    color: var(--white-color);
    padding: 15px 10px;
    border-radius: 5px;
    margin: 0 4px;
    font-weight: 500;
    max-height: 50px;
    min-width: 50px;
}

.header__optional a:hover {
    background-color: #417e68;
}

.header__button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 30px 0 10px;

}

.button__item {
    min-width: 45px;
    height: 35px;
    margin: 0 4px;
    background-color: var(--white-color);
    border-radius: 4px;
    border: 1.5px solid var(--dark-primary-color);
}

.button__item:hover {
    cursor: pointer;
    opacity: 0.9;
}

.item__text {
    line-height: 25px;
    margin: 0 10px;
    font-size: 1.5rem;
    color: var(--dark-primary-color);
    line-height: 33px;
    font-weight: 600;
}

/* NAVIGATION */

#nav {
    margin-top: 70px;
    height: 60px;
    width: 100%;
    background-color: var(--primary-color);
    font-size: 1.5rem;
    padding-left: 12px;
    display: flex;
    overflow-x: auto;
    align-items: center;
    scrollbar-width: none;

}
#nav::-webkit-scrollbar {
    width: 0;
}

.nav__link {
    margin: 0 3px;
}

.nav__item {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 12px 15px;
    border-radius:30px;
    color: var(--white-color);
    
}

.nav__item:hover {
    background-color: #ffffff15;
}


.nav__text {
    margin-left: 7px;
    font-size: 1.4rem;
    font-weight: lighter;
    white-space: nowrap;
}

.nav__selected {
    outline: 1px solid var(--white-color);
    background-color: #ffffff15;
    animation: fadeIn .3s ease;
}

/* NAV Tablet & Mobile */
.nav-tablet-mobile {
    width: 50vw;
    position: fixed;
    z-index: 5;
    top: 0;
    bottom: 0;
    right: -100%;
    background-color: var(--white-color);
    transition: .3s ease;
}
.nav-tablet-mobile.active {
    right: 0;
}


.nav-tablet-mobile-title {
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 1.6rem;
    padding-left: 20px;
}

.nav-tablet-mobile-item {
    padding: 15px 25px;

}

.nav-tablet-mobile-item:hover {
    background-color: #BDBDBD;
}

.nav-tablet-mobile-item i {
    font-size: 1.8rem;
    width: 30px;
    text-align: center;
}

.nav-tablet-mobile-item a {
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--black-color);
    margin-left: 5px;
}

.nav__current {
    font-size: 1.3rem;
    width: 30px;
}

.nav-mobile-tablet-close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 1.8rem;
}

.header-bars {
    padding: 0 15px;
    margin: 0 15px;
    cursor: pointer;
    display: none;
}

.header-bars-icon {
    font-size: 2.5rem;
    color: var(--white-color);
}

/* SUB FOOTER */

#subFooter {
    margin-top: 40px;
}

/* Singup subfooter */
.subFooter__signup {
    background-color: var(--dark-primary-color);
    color: #BDBDBD;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

}

.subFooter__title {
    margin-top: 50px;
    color: #f3eeee;
    font-size: 2.3rem;
}

.subFooter__desc {
    margin-top: 30px;
    font-size: 1.5rem;
    padding: 0 30px;
    font-weight: lighter;
    text-align: center;
}

.subFooter__input {
    margin-top: 30px;
    display: flex;
}

.subFooter__input input {
    width: 70vw;
    height: 45px;
    padding-left: 10px;
    font-size: 1.5rem;
    border: none;
    border-radius: 5px;
}

.subFooter__submit {
    margin-left: 3px;
    width: 20vw;
    height: 45px;
    font-size: 1.6rem;
    background-color: var(--primary-color);
    border: none;
    color: var(--white-color);
    cursor: pointer;
    border-radius: 5px;
}

.subFooter__info {
    margin: 0 10px;
    margin-top: 15px;
    font-size: 1.1rem;
    padding-bottom: 20px;
    text-align: center;

}

.subFooter__info__link {
    color: var(--primary-color);
}

.subFooter__info__link:hover {
    color: red;
}

/* Upload subfooter */
.subFooter__upload {
    display: flex;
    min-height: 60px;
    background-color: var(--primary-color);
    justify-content: center;
    align-items: center;
}

.subFooter__upload__btn {
    width: 180px;
    height: 30px;
    padding: 5px 3px;
    border-radius: 3px;
    border: 1px solid var(--white-color);
    background-color: var(--primary-color);
    color: var(--white-color);
    font-size: 1.2rem;
    cursor: pointer;
    font-weight: 600;
}

.subFooter__upload__btn:hover {
    filter: brightness(130%);
}

/* Nav subfooter */

.subFooter__nav {
    margin-top: 1px;
    min-height: 40px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.subFooter__nav li {
    min-height: 40px;
}

.subFooter__nav li:hover {
    background-color: var(--dark-primary-color);
}

.subFooter__nav__item {
    margin: 0 10px;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--white-color);
    line-height: 40px;
}

/* FOOTER */
#footer {
    min-height: 200px;
}

/* Footer Text */
.footer__text {
    display: flex;
}

.footer__text__list {
    margin: 5px  30px;
    list-style: none;
}

.footer__text__title {
    font-size: 1.3rem;
    margin-bottom: 5px;
    margin-top: 10px;
}

.footer__text__item {
    text-decoration: none;
    color: var(--black-color);
}

.footer__text__item:hover {
    color: red;
}

/*Footer About  */
.footer__about {
    margin-top: 20px;
    min-height: 250px;
    background-color: var(--dark-primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--white-color);
    font-size: 1.2rem;
    position: relative;
}

.footer__about__text {
    margin-bottom: 20px;
    padding: 0 10%;
    text-align: center;
}

.footer__about__text:first-child {
    margin-top: 40px;
}

.footer__about__ending {
    position: absolute;
    bottom: 10px;
}


.downloadapp {
    position: fixed;
    bottom: 30px;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 40px;
    border-radius: 30px;
    background-color: var(--primary-color);
    z-index: 5;
    color: var(--white-color);
    cursor: pointer;
}

.downloadapp:hover {
    filter: brightness(120%);
}

.downloadapp  i {
    font-size: 1.2rem;
}

.downloadapp__title {
    font-size: 1.2rem;
    margin-left: 10px;
}

/* Tablet and Mobile */
@media (max-width: 1023px) {
    .hiden-in-mobile-tablet {
        display: none;
    }
    #header {
    }
    .content__selection__next {
        display: none !important;
    }
    .header-bars {
        display: block;
    }
    
    .footer__text {
        display: block;
    }
    .footer__about {
        margin-top: 0;
    }
    
}

/* Mobile */
@media (max-width: 739px) {
    .nav-tablet-mobile {
        width: 85vw;
    }
    .footer__text {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    .footer__text {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}